/* כיווניות ימין לשמאל ועיצוב בסיסי */
body {
  direction: rtl;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #090452;
  color: white;
  margin: 0;
  padding: 0;
}

/* כותרות */
h1, h2, h3 {
  text-align: center;
  color: #2ab8f0;
  margin: 20px 0;
}

/* HEADER */
header {
  background-color: #001f3f;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  width: 4em;
  height: 4em;
}

header nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  border-bottom: 2px solid #1e90ff;
}

main {
  padding: 20px;
}

/* גלריה */
.gallery {
  background-color: #002f5f;
  padding: 20px;
}

.gallery-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  text-align: center;
  width: 250px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.gallery-item h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #add8e6;
}

/* טופס יצירת קשר */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  background: #003366;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

label, textarea, select {
  display: block;
  margin: 10px 0;
}

form label {
  font-weight: bold;
}

form input, form textarea, form button {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  background-color: #1c86ee;
}

/* Checkbox options */
.checkbox-container {
  margin: 10px 0;
}

textarea {
  display: none;
  margin-top: 10px;
}


/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #1e90ff;
}
